{% extends 'base.html' %}
{% block title %}FeedBack{% endblock title %}

{% block body %}

<div class="container mb-3 py-4">
    <h1 class="text-center">Contact Us</h1>
    <form method="post" action="savefeedback">
    {% csrf_token %}    
       <div class="form-group">
            <label for="desc">Tell me about what you want to contact me for...</label>
            <input type='textarea' class="form-control" id="desc" rows="3" name="text">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

</div>
{% endblock body %}